header {
	padding: 10px;
	margin: 0;
}
body {
	margin: 0;
	max-width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #245454;
}
h1 {
	color: #255580; 	
	text-align: center;
	font-size: 3em;
}
h2 {
	font-size: 2.75em;
	color: #24543c;
}
h3 {
	font-size: 2.5em;
	color: #542454;
	margin: 0px;
	padding: 5px;
	text-align: center;
}
.page_content {
	padding: 0px;
	background-color: white;
}
.mailing_list {
	float: right;
	text-align: center;
	width: 250px;
	color: #255560;	
	margin: 10px;	
}
.text {
	text-align: left;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0px;
    padding:5px;
    text-align:center;
}
nav ul {
	padding-left: 0;
}
nav li{
    display:inline;
    margin: 5px;
 }
nav a{
    display:inline-block;
    padding:10px;
}